.header {
  display: flex;
  align-items: center;
}

.header a {
  display: flex;
  align-items: center;
}

.header .logo {
  max-height: 4rem;
}

.header .title-group {
  padding-left: 1rem;
}

.header .title-group i{
  padding-right: 0.5rem;
}
