/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-snack-bar-container.msg-success {
  .mdc-snackbar__surface {
    background-color: #28a745;
    color: #fff;
  }
}

mat-snack-bar-container.msg-error {
  .mdc-snackbar__surface {
    background-color: #e35e6b;
    color: #fff;
  }
}

.green {
  color:#41d162
}

.toClick{
  cursor: pointer;
}
